app = 'nissyonline'
primary_region = 'iad'

[build]

[env]
  PORT = '8080'
  NISSY_PATH = '/app/nissy'
  NISSYDATA = '/data/nissy'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

[mounts]
  source = 'nissy_tables'
  destination = '/data/nissy'

[[vm]]
  memory = '4gb'
  cpu_kind = 'shared'
  cpus = 2
